streamlit
langchain
langchain-community
faiss-cpu
youtube-transcript-api
# langchain-embeddings
# langchain-text-splitters
# langchain-llms
# langchain-chains
# langchain-prompts
# langchain-schema
# langchain-vectorstores